.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform-credentials.json
/.idea/
